* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  .first{
      font-size: larger;
      font-style: italic;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 30px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  h1 {
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    font-size: 50px;  
    text-align: center;
  }

  .doc {
      color: rgb(109, 49, 49);
  }